#Jumbotron {
    width: 30vw;
    height: 100vh;
    background-color: var(--primary-background-color);
}

@media (max-width: 500px) {
    #Jumbotron {
        width: 100vw;
    }
}

#Jumbotron > p {
    margin-top: 0;
}


/* CurrentWeather component under Jumbotrom */
#currentWeather {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 6%;
    /* background: url('../images/Shower.png'), no-repeat; */
    height: 100vh;
}

#currentWeather .search-section {
    display: flex;
    justify-content: space-between;
}

#currentWeather .search-btn {
    padding: 9px;
    border: 0;
    color: white;
    background-color: var(--secondary-background-color);
}

#currentWeather .weather-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 140px;
    z-index: 999;
}

#currentWeather img {
    position: absolute;
    top: 22%;
    max-width: 100%;
    height: 130px;
    /* z-index: 99; */
}